<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>app.codecks.mac-helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>__HELPER_BINARY__</string>
        <string>serve</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>CODECKS_HELPER_CONFIG</key>
        <string>__HELPER_CONFIG__</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/codecks-mac-helper.out.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/codecks-mac-helper.err.log</string>
</dict>
</plist>
